<h1 class='page_title'><%= @judge.name %></h1>

<h2>Appears on:</h2>

<table>
  <thead>
    <tr>
      <th>Show</th>
      <th>Air Date</th>
    </tr>
  </thead>
  <tbody>
    <% @judge.shows.order(:date).each do |show| %>
      <tr>
        <td><%= link_to show.title, show %></td>
        <td><%= show.date %></td>
      </tr>
    <% end %>
  </tbody>
</table>
