@import 'normalize';

body {
  font-family: 'Bitter', serif;
}

@import 'bourbon';
@import 'neat';
@import 'base/base';

@import 'font-awesome-sprockets';
@import 'font-awesome';

@import 'nav';
@import 'contestants';
@import 'ingredients';
@import 'judges';
@import 'shows';

section {
  @include outer-container;
}

.container.main {
  padding-top: 25px;
}

h1.page_title {
  color: #ff982b;
  font-weight: bold;
  font-size:1.8em;
  padding: 5px;
  border-bottom: 2px solid black;
}

ul.default {
  margin-bottom:1em;
}
