<h1>Chopped: List of Shows</h1>


<% @seasons.each do |season| %>
  <h2><%= season.name %></h2>

  <table>
    <thead>
      <tr>
        <th>Title</th>
        <th>Air Date</th>
        <th>Appetzier</th>
        <th>Entr&eacute;e</th>
        <th>Dessert</th>
      </tr>
    </thead>
    <tbody>
      <% season.shows.includes(:ingredients_shows, :ingredients).each do |show| %>
        <tr>
          <td><%= link_to show.title, show %></td>
          <td><%= show.date %></td>
          <% %w(appetizer entree dessert).each do |round| %>
            <td>
              <ul>
                <% z = show.ingredients_shows.select {|ish| ish.round == round } %>
                <% z.each do |ing| %>
                  <li><%= link_to ing.ingredient.name, ing.ingredient %></li>
                <% end %>
              </ul>
            </td>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>
