<footer class="footer-2" role="contentinfo">
    <ul>
<li>
<a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/"><img alt="Creative Commons License" style="border-width:0" src="https://i.creativecommons.org/l/by-sa/4.0/80x15.png" /></a>

<a rel="license" class='license' href="http://creativecommons.org/licenses/by-sa/4.0/">This work is licensed under a Creative Commons Attribution-ShareAlike 4.0 International License</a>.
</li>
</ul>

    <div class="footer-secondary-links">
      <ul class="footer-social">
        <li><a href="https://github.com/leklund/chopped_ingredients">
          <i class="fa fa-github fa-lg" aria-hidden="true"></i>
          </a></li>
        <li><a href="https://twitter.com/lukas42">
          <i class="fa fa-twitter fa-lg" aria-hidden="true"></i>
        </a></li>
      </ul>
    </div>
</footer>


